* {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    background-color: #412567;
    height: 5.75em;
    padding-left: 12.5em;
    padding-right: 12.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;

    ul {
        list-style-type: none;
    }
}

.nav-h {
    font-size: 2.75em;
}

.nav-wave {
    background-image: linear-gradient(to bottom,#F7E93F,#FB09B4,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.link {
    display: flex;
    gap: 2.2em;
}

.link a {
    text-decoration: none;
    list-style-type: none;
    font-size: 1em;
    color: #FFFFFF;
}

.gradiant-box button {
    width: 8.45em;
    height: 2.75em;
    font-size: 1em;
    border-radius: 50px;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom left,#F7E93F,#FB09B4,#9100F8);
    border: none;

}
.btn-one:hover{color: black;
height: 2.90em;}
